body {
	margin: 0 0;
}

header {
	width: 100%;
	height: 50px;
	background-color: blue;
	display: flex;
	align-items: center;
}

h1 {
	margin: 0 0;
}

.form-group {
	margin: 0 auto;
}

.brktWindow {
	max-width: 90%;
	height: calc(100vh - 50px);
	/*background-color: gray;*/
	margin: 0 auto;
	display: flex;
	justify-content: center;
	overflow: auto;
	padding-top: 75px;
}

.brktBox {
	/*background-color: green;*/
	position: relative;
}

.match {
	width: 196px;
	height: 46px;
	background-color: #fff;
	border: 2px solid black;
	position: absolute;
}

.hLine {
	height: 2px;
	background-color: black;
	margin: 0 0;
	position: absolute;
}

.vLine {
	width: 2px;
	background-color: black;
	margin: 0 0;
	position: absolute;
}


.play1 {
	height: 50%;
	border-bottom: 1px solid black;
	display: flex;
}
.play2 {
	height: 50%;
	display: flex;
}

.seed1 {
	border-right: 1px solid black;
	width: 15%;
	text-align: center;
	padding-top: 2px;
}

.seed2 {
	border-right: 1px solid black;
	width: 15%;
	text-align: center;
	padding-top: 2px;
}

.name1 {
	border-right: 1px solid black;
	width: 70%;
	text-align: center;
	padding-top: 2px;
}

.name2 {
	border-right: 1px solid black;
	width: 70%;
	text-align: center;
	padding-top: 2px;
}